<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <h2>Vehicles</h2>
    <a href="/vehicles/new">New vehicle</a>

    <table border="1">
        <tr>
            <th>Type</th>
            <th>Company</th>
        </tr>
        <tr th:each="v : ${vehicles}">
            <td th:text="${v.type}"></td>
            <td th:text="${v.company.name}"></td>
            <td>
                <a th:href="@{/vehicles/edit/{id}(id=${v.id})}">Edit</a>
                <a th:href="@{/vehicles/delete/{id}(id=${v.id})}">Delete</a>
            </td>
        </tr>
    </table>

    <a href="/">Home</a>
</body>

</html>