<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Employee Form</title>
</head>

<body>
    <h1>Create Employee</h1>

    <form th:action="@{/employees}" th:object="${employee}" method="post">

        <label>Name:</label>
        <input type="text" th:field="*{name}" required />
        <br />

        <label>Salary:</label>
        <input type="number" step="0.01" th:field="*{salary}" required />
        <br />

        <label>Company:</label>
        <select th:field="*{company}" required>
            <option value="">-- Select Company --</option>
            <option th:each="comp : ${companies}" th:value="${comp.id}" th:text="${comp.id}">
            </option>
        </select>
        <br />

        <label>Qualification:</label>
        <select th:field="*{qualification}" required>
            <option value="">-- Select Qualification --</option>
            <option th:each="qual : ${T(com.transport.transport.model.enums.Qualification).values()}" th:value="${qual}"
                th:text="${qual}">
            </option>
        </select>
        <br />

        <button type="submit">Save</button>
    </form>
</body>

</html>